/*****************************************************
 **** Side Menu - General
 *****************************************************/

#sideMenuTab {
    width: 4.6em;
/*    padding-top: 11em;
*/}

.topBottomStick {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .topBottomStick > div:first-child {
        position: sticky;
        top: 0;
    }

    .topBottomStick > div:last-child {
        position: sticky;
        bottom: 0;
    }


/*****************************************************
 **** Side Menu - Tab Buttons
 *****************************************************/

#sideMenuOptions {
    padding-top: .5em;
    display: flex;
    flex-direction: column;
}

    #sideMenuOptions img {
        width: 2em;
        height: 2em;
    }

.sideMenuOption {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4em;
    transition: all 0.3s ease;
}

    .sideMenuOption.unavailable {
        filter: invert(.8);
        cursor: default;
    }

    .sideMenuOption.inactive {
        filter: invert(.8);
    }

    .sideMenuOption:not(.unavailable, .inactive):hover, #sideMenuOptions:not(:hover) > .sideMenuOption.chosen {
        box-shadow: inset -.3em 0 0 0 var(--prominent-color);
    }

/*******************************
 **** Add to playlist tab button
 *******************************/

#playlistButton #addToPlaylistIcon {
    position: absolute;
    bottom: .5em;
    right: .5em;
    height: 1em;
    width: 1em;
}


/*****************************************************
 **** Side Menu Content - General
 *****************************************************/

#sideMenuContentContainer {
    transition: all .3s ease;
    animation-name: unhide;
    animation-duration: .5s;
/*    padding-top: 11em;
*/}

    #sideMenuContentContainer.chordOptions {
        width: 12em;
    }

    #sideMenuContentContainer.dbOptions {
        width: 13em;
    }

    #sideMenuContentContainer.playlist {
        width: 20em;
    }

    #sideMenuContentContainer.closed {
        animation-name: none;
        width: 0;
        opacity: 0;
        overflow: hidden;
    }

@keyframes unhide { /* Prevent scroll bar by hiding content while opening content */
    0% {
        overflow: hidden;
    }

    100% {
        overflow: inherit;
    }
}


/*****************************************************
 **** Side Menu - Chord Options 
 *****************************************************/

#chordOptionsContainer {
    padding: 1.5em 0 1em 1em;
    min-width: 10em;
}

    #chordOptionsContainer hr {
        margin: 1em 0;
    }


/*****************************************************
 **** Chord Options - Transpose Key Container 
 *****************************************************/

#keyButtons {
    margin-top: .2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .3em;
}

    #keyButtons > div {
        width: 3em;
        height: 2.4em;
        background-color: var(--passive-color);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        box-shadow: var(--hover-shadow) .1em;
        border-radius: 10%;
        cursor: pointer;
    }

        #keyButtons > div.selectedKey {
            background-color: var(--prominent-color);
            box-sizing: border-box;
            cursor: default;
            box-shadow: var(--hover-shadow) .2em;
        }

        #keyButtons > div:hover:not(.selectedKey) {
            background-color: var(--prominent-color);
        }


/*****************************************************
 **** Chord Options - Transpose Key
 *****************************************************/

#hearKeyButton {
    position: absolute;
    top: .5em;
    left: 5.7em;
}

    #hearKeyButton.playing {
        cursor: default;
        background-color: var(--foreground-color);
        box-shadow: 0em 0em .4em .1em var(--text-color);
    }

#currentKey {
    width: 5em;
}

#transposeButtonsDiv {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#keyChangeDiv {
    width: 12em;
    text-align: center;
}


/*****************************************************
 **** Chord Options - Chord Mods
 *****************************************************/

#chordMods {
    flex-direction: column;
    grid-gap: 1em;
}

    #chordMods div {
        border-radius: 1em;
        box-shadow: inset var(--hover-shadow) .2em;
        padding: .2em;
        background-color: #d7d7d7;
        user-select: none;
        cursor: pointer;
    }

        #chordMods div:hover .modButton.selected {
            background-color: var(--prominent-color);
        }

.modButton {
    width: 3em;
    height: 2em;
    border-radius: 1em;
}

    .modButton:not(.selected) {
        color: #f0f0f0;
        background-color: #d7d7d7;
        border: none;
    }

    .modButton.selected {
        background-color: var(--passive-color);
        color: white;
        border: none;
    }

.italics {
    font-style: italic;
}


/*****************************************************
 **** Side Menu - Database Options
 *****************************************************/

#dbOptionsContainer {
    min-width: 10em;
    padding: 2em 0 1em 1em;
}

#databaseLogoutContainer {
    padding: 0 0 1em 1em;
}

    #dbOptionsContainer hr, #databaseLogoutContainer hr {
        margin: .8em 0;
    }

.cabinetUpdateTitle {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: .5em;
}

#metadataContainer {
    display: flex;
    flex-direction: column;
    grid-gap: .5em;
}


/*****************************************************
 **** Database Options - Established Song
 *****************************************************/

#savedSongInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #savedSongInfoContainer .imageButton, #savedSongInfoContainer img {
        width: 1.1em;
        height: 1.1em;
    }


/*****************************************************
 **** Database Options - Input buttons
 *****************************************************/

.imageButton {
    width: 1.1em;
    height: 1.1em;
    padding: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--weak-color);
    cursor: pointer;
    box-shadow: var(--button-shadow);
}

    .imageButton:hover {
        background-color: var(--prominent-color);
    }

    .imageButton img {
        width: 1.1em;
        height: 1.1em;
        filter: invert(1);
    }

.dbButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

    .dbButton:hover {
        text-decoration: underline;
    }

        .dbButton:hover .imageButton {
            background-color: var(--prominent-color);
        }

    .dbButton > div:first-child {
        max-width: 8.5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 7em; /* Prevent italics from cutting off */
    }

.addDBInput > div {
    font-style: italic;
}

.dbInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .dbInput > input {
        width: 9em;
    }


/*****************************************************
 **** Database Options - Language and checkboxes
 *****************************************************/

#languageUpdateContainer, .dbUpdateCheckboxContainer {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    font-style: italic;
}

#languageData {
    width: 6em;
}

.dbUpdateCheckbox {
    margin: 0;
    width: 2em;
    cursor: pointer;
}

/*****************************************************
 **** Database Options - Text
 *****************************************************/
#updateTextButton {
    padding-right: 2em;
}


/*****************************************************
 **** Database Options - Song styles
 *****************************************************/

#songStylesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5em 0;
}

.songStyleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5em;
    height: 1.6em;
    padding: .2em .5em;
    border-radius: .7em;
    background-color: var(--foreground-color);
    box-shadow: 0 0 .2em 0 var(--faded-text-color);
    color: var(--faded-text-color);
    cursor: pointer;
}

    .songStyleButton:hover, .songStyleButton.chosen {
        color: var(--text-color);
    }


    .songStyleButton.chosen {
        box-shadow: 0 0 .2em 0 var(--text-color);
    }


/*****************************************************
 **** Database Options - Cabinet Notes
 *****************************************************/

#cabinetNotes {
    width: 100%;
    resize: none;
    height: 4em;
    font-family: Arial;
}

/*****************************************************
 **** Database Options - New Blank Song etc.
 *****************************************************/
#navigateSongsDiv {
    display: flex;
    justify-content: space-between;
}

    #navigateSongsDiv > div {
        width: 4em;
    }

#dbOptionsContainer > hr#newBlankSongDivider {
    margin-top: 10em;
}


/*****************************************************
 **** Success marker
 *****************************************************/

.successMarker {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/*******************************************************************************
 **** Playlist
 ******************************************************************************/

#playlist {
    padding-top: 1em;
    padding-left: .5em;
}

#playlistName {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: .2em;
}

#playlistSongs > .result:not(.currentSong):hover {
    background-color: var(--foreground-color);
}


/*******************************************************************************
 **** Playlist - Moving/Labels
 ******************************************************************************/

#playlistSongs .moveIcon, #playlistSongs .playingSongIcon, #playlistSongs .result.currentSong .songNumber, #playlistSongs .songLabel:hover .songNumber, #playlistSongs .result.currentSong .songLabel:hover .playingSongIcon {
    display: none;
}

#playlistSongs .result.currentSong .playingSongIcon, #playlistSongs .songLabel:hover .moveIcon {
    display: block;
}

.songLabel:hover {
    cursor: grab;
}

.dragging > * {
    opacity: 0;
}
