/*******************************************************************************
**** Screen Sizes
********************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root #navSplit #rightNav {
        display: none;
    }

    :root #playlistSongs .result {
        grid-template-columns: 1.5em 1fr 3em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}


/*******************************************************************************
 **** Page
 ******************************************************************************/

#mainDiv, #split, #leftSplit, #view, #songTextContainer {
    flex-grow: 1;
}

#mainDiv, #leftSplit, #view {
    display: flex;
    flex-direction: column;
}

#split {
    display: flex;
    width: 100%;
}

#sideMenu {
    display: flex;
    flex-direction: row;
    user-select: none;
}

#mainDiv, #pageContainer, #nav {
    width: 100%;
    min-width: 34em;
}

#leftSplit {
    position: relative;
    overflow: auto;
    background-color: var(--background-color);
    height: 100%;
}

#songTextContainer {
    position: relative;
    display: flex;
    padding: 1em;
}

#songTextContainer {
    background-color: var(--foreground-color);
    border-top-right-radius: 1em;
    box-shadow: var(--layer-shadow);
}

#leftSplit:fullscreen #songTextContainer {
    border-top-right-radius: 0;
    box-shadow: inset var( --text-color) 0 1em 0.6em -1.3em;
}

/*******************************************************************************
 **** Nav
 ******************************************************************************/

.mainNavLink {
    min-width: 2em;
}

    .mainNavLink > img {
        width: 1.3em;
        height: 1.3em;
    }

#searchResults {
    color: var(--text-color);
}


/*******************************************************************************
 **** Smaller Search Bar
 ******************************************************************************/

#searchInput {
    height: auto;
    width: auto;
}

#searchBar {
    height: 1.5em;
}

#searchButton {
    padding: 0;
}

.searchResult {
    gap: 0;
}

#searchBar.focused, #searchBar:hover {
    box-shadow: var(--hover-shadow) .4em;
}


/*******************************************************************************
 **** Song Header
 ******************************************************************************/

#songHeader {
    position: relative;
    padding: 2em 1em 1em 1em;
}

.row {
    display: flex;
    align-items: center;
}

#linkDiv > div {
    padding-right: 1em;
}

#songMetadata {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-left: .1em;
}


/*******************************************************************************
 **** View
 ******************************************************************************/

#songText {
    overflow: auto;
    margin: 1em .5em 1em 1em;
    white-space: pre;
}

    #songText .title {
        font-weight: bold;
        font-size: 1.5em;
    }

    #songText .chord {
        color: var(--chord-color);
        user-select: text;
    }

    #songText .sectionTitle {
        font-weight: bold;
    }

.chordColor2 #songText .chord {
    color: inherit;
}


/*******************************************************************************
 **** Edit
 ******************************************************************************/

#songNameEdit {
    width: 100%;
    -webkit-box-sizing: border-box;
    font-size: 2em;
    text-overflow: ellipsis;
    background-color: var(--background-color);
    color: var(--text-color);
}

#songTextEdit {
    width: 100%;
    padding: 0.95em;
    white-space: pre;
    overflow: auto;
    resize: none;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 4px -1px;
}

#songTextEdit {
    background-color: var(--foreground-color);
    color: var(--text-color);
}


/*******************************************************************************
 **** View & Edit
 ******************************************************************************/

#editSong, #viewSong {
    position: absolute;
    right: .5em;
    top: .5em;
}

.songText {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}


/*****************************************************
 **** Prompt new song
 *****************************************************/

body.locked {
    overflow-y: hidden;
}

    body.locked #promptContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
    }

#promptContainer {
    display: none;
}

#darkOut {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

#promptDiv {
    z-index: 3;
    background-color: var(--foreground-color);
    box-shadow: var(--hover-shadow) .2em;
    border-radius: 1em;
    padding: 1.2em 2em;
    padding-top: 0;
}

#promptTitle {
    text-align: center;
    text-decoration: underline;
}

#prompts {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 0.7em;
}

    #prompts .iconButton {
        width: 11em;
    }

#centerPopupsOnScreen {
    display: flex;
    height: 80vh;
    align-items: center;
}

/*******************************
 **** Icon Buttons
 *******************************/
.iconButton {
    padding: .6em;
    border-radius: .6em;
    box-shadow: var(--hover-shadow) .2em;
    background-color: var(--foreground-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .iconButton:hover {
        box-shadow: var(--hover-shadow) .4em;
    }

    .iconButton > span {
        width: 84%;
        text-align: center;
    }

    .iconButton img {
        width: 1.6em;
        height: 1.6em;
    }

    .iconButton span {
        white-space: nowrap;
    }

    .iconButton:hover {
        background-color: var(--background-color);
    }


/*******************************
 **** Hover Input
 *******************************/

.hoverInput {
    border: none;
    border-radius: 4px;
}

    .hoverInput:hover {
        outline: solid var(--text-color) 1px;
    }

    .hoverInput:focus {
        outline: solid var(--prominent-color) 2px;
    }


/*******************************
 **** Song Editing Row
 *******************************/

#editingRow {
    height: 2.5em;
    justify-content: space-between;
    user-select: none;
    width: 100%;
}

    #editingRow > div {
        height: inherit;
    }

    #editingRow, #editingRow > div, #editingRow .editingSection {
        display: flex;
        align-items: center;
    }

        #editingRow .editingSection {
            padding: 0 .7em;
        }

        #editingRow hr {
            height: 1.6em;
            border-right: 1px solid var(--faded-text-color);
            margin: 0;
        }

#fontEditing, #chordsEditing {
    gap: .8em;
}


/*******************************
 **** Song Editing Row - Undo/Redo
 *******************************/

#editingRow .smallIconButton.disabled {
    opacity: 0.3;
    cursor: default;
}

    #editingRow .smallIconButton.disabled:hover {
        background-color: var(--background-color);
    }


/*******************************
 **** Song Editing Row - Overlow
 *******************************/

#underflowElements {
    flex-wrap: wrap;
}

#overflowButton {
    transform: rotate(90deg);
}

#overflowContainer:hover #overflowButton {
    background-color: var(--foreground-color);
}

#editingRow {
    position: relative;
}

#overflowElements {
    position: absolute;
    top: 2.7em;
    left: 0;
    padding: .5em;
    background-color: var(--background-color);
    z-index: 2;
    border-radius: .5em;
    box-shadow: var(--hover-shadow) .2em;
    flex-direction: column;
}

#editingRow #overflowElements hr {
    height: 0;
    border-right: none;
    border-top: 1px solid var(--faded-text-color);
    margin: .5em 0;
}


/*******************************
 **** Song Editing Row - Selects
 *******************************/
.select {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    outline: none;
    padding: .2em 0;
}

    .select:hover {
        background-color: var(--foreground-color);
    }


/*******************************
 **** Song Editing Row - Font
 *******************************/


#fontStyleSelect {
    width: 5em;
}

.Arial {
    font-family: Arial;
}


#fontSizeContainer {
    display: flex;
    height: 1.5em;
}

    #fontSizeContainer #fontSize {
        border-left: none;
        border-right: none;
        width: 2.2em;
        text-align: center;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#fontSizeContainer > * {
    border: 1px solid var(--faded-text-color);
}

.changeFontSize {
    width: 1.4em;
    cursor: pointer;
    font-family: Impact;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shrinkFontSize {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

#growFontSize {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.changeFontSize:hover {
    background-color: var(--foreground-color);
}

#editingRow .changeFontSize:active {
    background-color: var(--passive-color);
}


/*******************************
 **** Song Editing Row - Chords
 *******************************/

#displayType {
    width: 5em;
}

#chordColorSelect {
    position: relative;
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    color: var(--chord-color);
    box-shadow: inset 0 -0.3em 0 0 var(--chord-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chordColor2 #chordColorSelect {
    color: var(--text-color);
    box-shadow: inset 0 -0.3em 0 0 var(--text-color);
}

#chordColorSelect:hover {
    background-color: var(--foreground-color);
}

#chordColorsContainer {
    display: flex;
    gap: .3em;
    padding: .6em;
    position: absolute;
    top: 2em;
    left: 0;
    background-color: var(--foreground-color);
    border-radius: .5em;
    box-shadow: var(--hover-shadow) .2em;
    z-index: 2;
}

.chordColor {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .chordColor:hover {
        box-shadow: var(--hover-shadow) .2em;
    }

#chordColor1 {
    background-color: var(--chord-color);
}

#chordColor2 {
    background-color: var(--text-color);
}


/*******************************
 **** Download Propmt
 *******************************/

#downloadPrintContainer {
    position: relative;
}

/*Down load prompt*/
.infoPromptContainer.downloadPrompt > .infoPrompt {
    top: -2em;
    left: 5.5em;
}

.infoPromptContainer.downloadPrompt > .promptArrow {
    top: -.6em;
    left: 4em;
    transform: scaleX(-1);
}


/*******************************
 **** No Playlist Songs
 *******************************/

#noPlaylistSongs {
    flex-grow: 1;
    background-color: var(--foreground-color);
    padding: 3em 2em;
    display: flex;
    justify-content: center;
    align-items: start;
}

#noSongsPromptContainer {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2em;
    padding: 1em;
    cursor: pointer;
    width: fit-content;
}

    #noSongsPromptContainer:hover {
        outline: var(--thin-border);
    }

#noSongsPlaylistButton {
    font-size: 3em;
}

#noSongsPromptContainer:hover #noSongsPlaylistButton {
    background-color: var(--background-color);
}

/*******************************
 **** No Playlist Songs
 *******************************/

.dropdownOption.chordEditInput {
    width: 4em;
    background-color: var(--background-color);
    text-decoration: none;
    outline: solid var(--text-color) 1px;
    color: var(--text-color);
}

/*******************************
 **** Dragging
 *******************************/

.dragging {
    opacity: 0;
}


/*******************************************************************************
 **** Login Popup
 ******************************************************************************/

#loginPopupContainer {
    height: 100%;
    width: 100%;
    position: absolute;
}

#loginPopup {
    background-color: var(--background-color);
    box-shadow: var(--hover-shadow) .3em;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    user-select: none;
    width: 15em;
}

#closeLoginPopupButton {
    position: absolute;
    top: .4em;
    right: .4em;
    font-weight: bold;
}

#loginHeader {
    font-size: 2em;
    text-align: center;
}

#loginFields {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

    #loginFields input {
        padding: .3em;
    }

#loginMessage {
    height: 1.5em;
    opacity: 0;
    color: red;
    font-size: .9em;
}

    #loginMessage.active {
        opacity: 1;
    }

#loginButton:focus {
    outline: var(--thin-border);
}



/*******************************
 **** Selected Chord
 *******************************/

.chord.selected {
    animation-name: selected;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes selected {
    0% {
        text-decoration: underline;
    }

    50% {
        text-decoration: underline;
    }

    100% {
        text-decoration: none;
    }
}
